<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3ee11dec-0381-44b7-91f6-1e51b8029ca9" Version="1.0.0.0" Publisher="CN=Chris" />
  <Properties>
    <DisplayName>Pomodoro</DisplayName>
    <PublisherDisplayName>Scotch Development</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Pomodoro on the Rocks" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="A simple and beautiful Pomodoro Timer." ForegroundText="light" BackgroundColor="#EC2E2B" ToastCapable="true">
        <DefaultTile ShowName="allLogos" ShortName="Pomodoro on the Rocks" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#EC2E2B" />
      </VisualElements>
    </Application>
  </Applications>
</Package>